
body, main {
display: flex
}
body {
  flex-direction: column
}
main {
  flex: auto
}
aside {
  flex: 1
}
article {
  flex: 3
}
header {
  height:auto;
}
iframe {
   height: 500px;
   width: 750px;
}
a:link {
  color:000000;
}     
a:visited {
  color:#00FF00;
}  
a:hover {
  color:#FF00FF;
} 
a:active {
  color:#0000FF;
}
